[Unit]
Description=Vufind REST API
After=network.target auditd.service

[Service]
Type=simple
ExecStart=/usr/local/bin/api/vufind-api
WorkingDirectory=/usr/local/bin/api
Restart=on-failure

[Install]
WantedBy=multi-user.target

