[Unit]
Description=Koha CLO REST API
After=network.target auditd.service

[Service]
Type=simple
ExecStart=/usr/local/bin/api/koha-clo-api > /var/log/koha-clo-api.log 2>&1 &
WorkingDirectory=/usr/local/bin/api
Restart=on-failure

[Install]
WantedBy=multi-user.target

