
/* Black SVG icons */

.bi {
	color: #212529;
}

/* Danger SVG icons hover */

.bi-filetype-pdf:hover, .bi-filetype-pdf:focus,
.bi-justify:hover, .bi-justify:focus
{
	color: #0e5f91;
}

/* external link */
.external-link:hover {
	color: #0e5f91;
}
.external-link {
	color: #212529;
	text-decoration: none;
}

