[Unit]
Description=Vufind Export service
After=network.target auditd.service

[Service]
Type=simple
ExecStart=/usr/bin/uwsgi --uid solr --uwsgi-socket 127.0.0.1:9000 --plugin python39 --wsgi-file vufind-export --master --processes 4 --threads 2 --callable app
WorkingDirectory=/usr/local/bin
Restart=on-failure
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target

