
/* Black CVG icons */

.bi {
  color: #212529;
}

/* Danger CVG icons hover */

.bi-file-earmark-binary:hover, .bi-file-earmark-binary:focus,
.bi-bar-chart:hover, .bi-bar-chart:focus
{
  color: #dc3545;
}

/* Black pagination text */ 

.page-link {
 color: #212529;
}

.page-item.active .page-link {
 background-color: #dc3545;
 border-color: #dc3545;
}

/* Danger forms */

.form-control:focus
{
  border-color: #dc3545;
  box-shadow:0 0 0 .25rem rgba(220,53,69,.25);
}

/* Danger checkbox */

.form-check-input:focus {
 border-color: #dc3545;
 box-shadow:0 0 0 .25rem rgba(220,53,69,.25);
}

.form-check-input:checked {
 background-color:#dc3545;
 border-color:#dc3545;
}

