
/* Black CVG icons */

.bi {
	color: #212529;
}

/* Danger CVG icons hover */

.bi-file-earmark-binary:hover, .bi-file-earmark-binary:focus,
.bi-bar-chart:hover, .bi-bar-chart:focus,
.bi-filetype-pdf:hover, .bi-filetype-pdf:focus,
.bi-filetype-csv:hover, .bi-filetype-scv:focus,
.bi-filetype-txt:hover, .bi-filetype-txt:focus,
.bi-arrow-up-right-square:hover, .bi-arrow-up-right-square:focus,
.bi-arrow-down-square:hover, .bi-arrow-down-square:focus,
.bi-trash:hover, .bi-trash:focus,
.bi-justify:hover, .bi-justify:focus
{
	color: #dc3545;
}

/* Black pagination text */ 

.page-link {
	color: #212529;
}

.page-item.active .page-link {
	background-color: #dc3545;
	border-color: #dc3545;
}

/* Modal close */ 

.btn-close:focus {
	border-color: #dc3545;
	box-shadow:0 0 0 .25rem rgba(220,53,69,.25);
}

/* Danger switch

.form-switch .form-check-input:checked {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/></svg>");
}

.form-switch .form-check-input:focus {
 background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='pink'/%3e%3c/svg%3e")
}

*/

/* Danger forms */

.form-control:focus,
.form-select:focus
{
  border-color: #dc3545;
  box-shadow:0 0 0 .25rem rgba(220,53,69,.25);
}

/* Danger checkbox */

.form-check-input:focus {
	border-color: #dc3545;
	box-shadow:0 0 0 .25rem rgba(220,53,69,.25);
}

.form-check-input:checked {
	background-color:#dc3545;
	border-color:#dc3545;
}

/* anchor */

a.anchor {
	display: block;
	position: relative;
	top: -220px;
	visibility: hidden;
}

/* external link */

.external-link:hover {
	color: #dc3545;
}

.external-link {
	color: #212529;
	text-decoration: none;
}

