
/* Danger forms */

.form-check-input:focus,
.form-control:focus,
.form-select:focus
{
  border-color: #dc3545;
  box-shadow:0 0 0 .25rem rgba(220,53,69,.25);
}

/* yes/no */

/*
.btn-check:checked
{
  background-color: #523e02;
}

.btn-sm:active,
.btn-sm:hover
{
  color: #fff;
  background-color: #523e02;
  border-color: #523e02;
}

.btn-sm
{
  color: #523e02;
  border-color: #523e02;
}
*/
/* Accordion */

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}

.accordion-button:focus {
  border-color: #dc3545;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #212529;
  background-color: white;
}

