<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title> Vufind Map - ČLB</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='leaflet.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='map.css') }}"/>
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='leaflet.js') }}"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col"></div>
			<div class="col-md-10">
				<div class="p-4 bg-light border rounded-3">
					<h2>VuFind - Mapový modul</h2>
					<!-- MAPA -->
					<div id="map"></div>
				</div>
			</div>
			<div class="col"></div>
		</div>
	</div>
	<!-- load Map -->
	<script src="{{url_for('static', filename='map.js')}}"></script>
</body>
</html>
