[Unit]
Description=Aleph API
After=network.target auditd.service

[Service]
Type=simple
ExecStart=/usr/local/bin/ucla/ucla-api
WorkingDirectory=/usr/local/bin/ucla
Restart=on-failure

[Install]
WantedBy=multi-user.target

